<a href="https://colab.research.google.com/github/burtonye/dahmakan_case/blob/master/Dahmakan_Case_Study.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy as np
url = 'https://raw.githubusercontent.com/burtonye/dahmakan_case/master/Copy%20of%20dahmakan%20analytics%20case%20study%20%5BBurton%20Ye%5D%20-%20Data.csv?token=ADMXF3J47NSNESC45QHYE426LKF3C'
df1 = pd.read_csv(url)

In [8]:
timedel = pd.to_datetime(df1['actual_last_delivered_time'])-pd.to_datetime(df1['actual_start_time'])
df1['time_elapsed']=timedel.apply(lambda x: x.seconds/3600)
df1

             date   rider_id  ... avg_service_mins time_elapsed
0     01 Apr 2019    Rider 3  ...             5.21     1.433333
1     01 Apr 2019  Rider 102  ...             3.12     1.466667
2     01 Apr 2019  Rider 138  ...             3.89     0.950000
3     01 Apr 2019  Rider 138  ...            13.20     1.416667
4     01 Apr 2019   Rider 72  ...             6.73     1.383333
...           ...        ...  ...              ...          ...
2861  14 Apr 2019   Rider 76  ...             5.83     0.633333
2862  14 Apr 2019  Rider 193  ...             4.64     1.250000
2863  14 Apr 2019  Rider 143  ...             3.28     1.483333
2864  14 Apr 2019  Rider 121  ...             4.64     1.666667
2865  14 Apr 2019  Rider 160  ...             8.26     1.200000

[2866 rows x 23 columns]

1. Group delivery metrics by rider_id 
2. Filter >20 rides as FT
3. Calculate On Time Delivery %

In [0]:
df = df1.groupby(['rider_id']).sum()

In [10]:
df_ft_riders = df[df['total_deliveries']>20]
df_ft_riders

           total_deliveries  ...  time_elapsed
rider_id                     ...
Rider 1                 130  ...     26.866667
Rider 10                264  ...     33.600000
Rider 100               128  ...     27.483333
Rider 101                62  ...     14.516667
Rider 102                79  ...     15.966667
...                     ...  ...           ...
Rider 94                 90  ...     22.033333
Rider 96                171  ...     35.366667
Rider 97                 87  ...     17.283333
Rider 98                103  ...     23.166667
Rider 99                 95  ...     23.516667

[169 rows x 13 columns]

In [11]:
data= df_ft_riders['ontime_deliveries']/df_ft_riders['completed_deliveries']
df_ft_riders['On_time_delivery%'] = data
df_ft_riders['Good_Bad'] = ['Good' if x >= 0.9 else 'Bad' for x in df_ft_riders['On_time_delivery%']]

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [12]:
print("There are",df_ft_riders['Good_Bad'][df_ft_riders['Good_Bad'] == 'Good'].count(),"good riders")
print("There are",df_ft_riders['Good_Bad'][df_ft_riders['Good_Bad'] == 'Bad'].count(),"bad riders")

There are 12 good riders
There are 157 bad riders

II: Calculate Deliveries per Hour

"Another important metric we track is Deliveries per Hour (DPH)
DPH = The no. of completed deliveries / total no. of hours worked"

In [13]:
df_ft_riders['DPH'] = df_ft_riders['completed_deliveries']/df_ft_riders['time_elapsed']

print("The avg DPH is",round(df_ft_riders['DPH'][df_ft_riders['Good_Bad'] == 'Good'].mean(),2),"for good riders")
print("The avg DPH is",round(df_ft_riders['DPH'][df_ft_riders['Good_Bad'] == 'Bad'].mean(),2) ,"for bad  riders")

The avg DPH is 5.32 for good riders
The avg DPH is 4.05 for bad  riders

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [14]:
df_ft_riders[df_ft_riders['Good_Bad']=='Good'].mean()

#cancelled_deliveries: 2.3 vs 4.1
#delayed_deliveries 5.8 vs 24.2
#delay_min per drop 68 vs 215
#avg_service_mins 73 vs 83

total_deliveries             103.166667
completed_deliveries         100.833333
cancelled_deliveries           2.333333
ontime_deliveries             95.000000
delayed_deliveries             5.833333
uncontactable_customers        2.083333
total_customers              101.916667
total_meal                   174.166667
total_meal_revenue         36804.933333
delay_min_per_drop            68.083333
avg_rider_rating              80.088333
avg_service_mins              73.015000
time_elapsed                  18.070833
On_time_delivery%              0.944642
DPH                            5.323406
dtype: float64

In [15]:
df_ft_riders[df_ft_riders['Good_Bad']=='Bad'].mean()

total_deliveries              91.917197
completed_deliveries          87.821656
cancelled_deliveries           4.095541
ontime_deliveries             63.579618
delayed_deliveries            24.242038
uncontactable_customers        2.878981
total_customers               90.713376
total_meal                   159.401274
total_meal_revenue         37938.310191
delay_min_per_drop           215.286624
avg_rider_rating              71.573248
avg_service_mins              83.022611
time_elapsed                  21.285669
On_time_delivery%              0.691675
DPH                            4.051441
dtype: float64

In [0]:
ft_riders = list(df_ft_riders.index) #ft riders

In [19]:
def pricing(data,index=0):
  price = 15
  x = data.iloc[index]['ontime_deliveries']
  y = data.iloc[index]['completed_deliveries']
  price += 1 * y
  if x/y >= 0.95:
    price += 0.5*y
  elif x/y >= 0.9:
    price += 0.25*y
  elif x/y >= 0.8:
    price += 0
  else:
    price += -0.3*y
  if data.iloc[index]["rider_id"] in ft_riders:
    if y > 14:
      price +=75
    else:
      price +=40
  else:
    price +=0
  return price

pricing_list = []
for i in np.arange(df1.shape[0]):
  pricing_list.append(pricing(df1,i))
df1['pricing']= pd.Series(pricing_list)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:6: RuntimeWarning: invalid value encountered in long_scalars

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:8: RuntimeWarning: invalid value encountered in long_scalars

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:10: RuntimeWarning: invalid value encountered in long_scalars
  # Remove the CWD from sys.path while we load stuff.

In [24]:
df = df1.groupby(['rider_id']).sum()
df_pt_riders = df[df['total_deliveries']<20]
df_ft_riders = df[df['total_deliveries']>20]
df_pt_riders

           total_deliveries  completed_deliveries  ...  time_elapsed  pricing
rider_id                                           ...
Rider 104                 1                     1  ...      1.216667     16.5
Rider 108                10                    10  ...      2.933333     38.5
Rider 109                 9                     9  ...      2.500000     43.5
Rider 113                 8                     4  ...      2.666667     32.8
Rider 114                 6                     6  ...      1.533333     24.0
Rider 117                 6                     6  ...      1.800000     19.2
Rider 130                 7                     7  ...      1.533333     19.9
Rider 132                15                    14  ...      3.933333     62.0
Rider 134                15                    14  ...      5.433333     54.8
Rider 136                 6                     6  ...      1.266667     19.2
Rider 141                 9                     7  ...      3.516667     34.9
Rider 142                 8                     2  ...      1.400000     16.4
Rider 144                13                    11  ...      4.433333     54.3
Rider 146                 5                     3  ...      2.000000     17.1
Rider 153                14                    14  ...      3.800000     62.0
Rider 157                 7                     7  ...      1.333333     22.0
Rider 159                12                     6  ...      1.883333     34.2
Rider 161                 8                     1  ...      0.433333     16.5
Rider 163                11                    11  ...      2.050000     43.0
Rider 168                 5                     5  ...      1.883333     18.5
Rider 169                 6                     6  ...      1.283333     19.2
Rider 17                 19                    17  ...      4.933333     75.1
Rider 172                11                    10  ...      2.883333     38.5
Rider 175                18                    17  ...      5.500000     56.9
Rider 182                 7                     7  ...      1.783333     19.9
Rider 183                 6                     6  ...      1.783333     19.2
Rider 184                 3                     3  ...      1.933333     17.1
Rider 186                 7                     7  ...      2.066667     38.0
Rider 19                  6                     6  ...      1.133333     24.0
Rider 190                15                    14  ...      6.550000     91.2
Rider 196                 4                     4  ...      1.633333     17.8
Rider 197                14                    13  ...      4.083333     60.5
Rider 20                  1                     0  ...      0.000000     15.0
Rider 201                10                     9  ...      2.583333     55.3
Rider 203                16                    15  ...      2.850000     42.3
Rider 211                18                    15  ...      5.483333     70.5
Rider 213                10                    10  ...      2.983333     39.4
Rider 216                19                    18  ...      6.916667     89.2
Rider 217                10                     7  ...      1.566667     19.9
Rider 31                 12                     9  ...      2.900000     36.3
Rider 4                  14                    14  ...      3.866667     39.8
Rider 56                  1                     1  ...      0.700000     15.7
Rider 57                 18                    11  ...      2.633333     58.5
Rider 65                 16                    16  ...      4.200000     78.4
Rider 82                  6                     6  ...      1.466667     19.2
Rider 85                 12                     9  ...      3.716667     36.3
Rider 89                 14                    14  ...      2.616667     46.5
Rider 95                 15                    15  ...      3.100000     42.6

[48 rows x 14 columns]